
<table mdbTable>
  <thead>
    <tr style="background-color: #c9feff;">
      <th>Type/Unit</th>
      <th *ngFor="let unit of unitsList">{{unit}}</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let award of awardTypes">
      <th scope="row">{{award}}</th>
     <!-- <td *ngFor="let unit of unitList">{{award}}-{{unit}}</td> -->
     <td *ngFor="let unit of unitsList">{{awardBreakDown[unit][award]}}</td>
     <td>{{calculateAwardTotalRow(award)}}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td *ngFor="let unit of unitsList">{{calculateAwardTotalCol(unit)}}</td>
      <td>{{totalAwards}}</td>
    </tr>
  </tbody>
</table> 

<!-- <h2>Yes - money!</h2> -->
