

<div class="chartDiv">
  <canvas baseChart
    [datasets]="chartDataToDisplay"
    [labels]="chartLabels"
    [options]="options"
    [chartType]="lineChartType">
 
  </canvas>
</div>
<!-- <div class="about"><i class="fas fa-question-circle" (click)="toggleAbout()"></i>
  Chart explantion goes here.</div> -->
  
 <!-- <button type="button" class="btn btn-danger" data-toggle="collapse" data-target=".demo" aria-expanded="false" >Simple collapsible</button> -->
  <button mdbBtn color="primary" class="waves-light" type="button" (click)="toggle()" mdbWavesEffect>
  Toggle collapse
</button>  
 
    <div class="" mdbCollapse #test="bs-collapse">  
    <p> {{chartDescription}}</p>
  </div>  

