<div class="container-fluid">
    <div class="row">
      <div class="col">
        <app-in-progress></app-in-progress>
      </div>
      <div class="col">
        <app-award-table></app-award-table>
      </div>

    </div>
    <div class="row">
      <div class="col-sm">
        One of three columns
      <app-charts [chartLabels]="chartLabels" [chartData]="awardCompleteChartData" [legend]="chartLegends.complete"></app-charts>
      </div>
      <div class="col-sm">
        Two of three columns
        <app-charts [chartLabels]="chartLabels" [chartData]="awardBoardingChartData" [legend]="chartLegends.boarding"></app-charts>
      </div>
      <div class="col-sm">
        Three of three columns
        <app-charts [chartLabels]="chartLabels" [chartData]="awardQCChartData" [legend]="chartLegends.qc"></app-charts>
      </div>
    </div>
</div>





