<div class="container-fluid">
    <div class="row">
      <div class="col">
        <app-in-progress></app-in-progress>
      </div>
      <div class="col">
        <app-award-table></app-award-table>
      </div>

    </div>
    <div class="row">
      <div class="col-sm">
        One of three columns
      <!--  <app-charts [chartLabels]="chartLabels" [chartData]="[1,2]"></app-charts> -->
      <app-charts [chartLabels]="chartLabels" [chartData]="awardCompleteChartData"></app-charts>
      </div>
      <div class="col-sm">
        One of three columns
        <app-charts [chartLabels]="chartLabels" [chartData]="awardBoardingChartData"></app-charts>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
</div>





